
.idea/
.vscode/

# Environments
.env
.env_bak
.env.bak
.env_backend
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# --------------------

# DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
build/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.spec


# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json


test.db
